body {

    display: block;
    background-color: #F1F0CC;
    position: relative;
    margin-top: 150px;
}



.header-id {

    height: 100px;
    width: 1325px;
    box-sizing: border-box;
    display: block;
    margin: 3px 3px;
    border-radius: 15px;
    box-shadow: 5px 10px 25px 0 #8D775F;
    background-color: #D5BF86;

    font-family: 'Hubballi', cursive;
    line-height: 10px;
    font-size: 30px;
    font-weight: 200;
    text-shadow: 5px 5px 25px #A71D31;

    position: fixed;
    z-index: 1;
    margin-top: -150px;
}

 
div a {
    position: relative;
    display: inline-block;
    width: 1330px;
    z-index: 1;
    color: #3F0D12;
}
.inicio-aa {

    position: fixed;
    top: 35px;
    left: 110px;

}
.inicio-ab {

    position: fixed;
    top: 35px;
    left: 280px;

}

.inicio-ac {

    position: relative;
    top: 35px;
    left: 500px;

}

.articulo-1 {

    width: 800px;
    box-sizing: border-box;
    display: block;
    margin: 3px 3px;

}

h2 {
    font-size: 30px;

    font-family: 'Hubballi', cursive;
    line-height: 10px;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 5px 5px 8px #6C809A;
}

.articulo_1__seccion {
    line-height: 20px;
    font-weight: 450;


}

.articulo_1__aside {

    box-sizing: border-box;
    display: block;
    margin: 3px 3px;
    width: 450px;
    position: absolute;
    right: 10px;
    top: -30px;
    
}

h3 {

    font-family: 'Hubballi', cursive;
    line-height: 22px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 5px 5px 8px #6C809A;
}

.articulo_1__seccion {

    margin-left: 20px;
}

.articulo_2__seccion {
    width: 850px;
    margin-left: 20px;
}
